.photoUndefined{
  display: block;
  margin-top: 25vh;
  margin-left: 30vw;
}
.photoFined{
  display: none;
}
.fileBox{
  text-align: center;
  vertical-align: middle;
  float: left;
  width: 15%;
  height: 20vh;
  line-height: 20vh;
  cursor: pointer;
  background-color: azure;
  overflow: hidden;
  margin-top: 3vh;
  margin-left: 4%;
  font-size: medium;
  display: flex;
  position: relative;
}
.textLocation{
  display: block;
  margin: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}