*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(64, 96, 95, 0.5); */
    color: rgb(217, 131, 114);
}
li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
    color: rgb(217, 131, 114);
}
.navBox{
    height: 100vh;
    width: 25%;
    position: fixed;
    background-color: rgb(64, 96, 95);
    transition: width 1s;
}
.active{
    width: 5%;
}
.navBox input{
    outline: none;
    height: 5vh;
    width: 75%;
    background-color: rgba(79, 129, 128, 0.678);
    color: rgb(217, 131, 114);
    font-size: 22px;
    font-weight: 500;
    margin: 3vh 9%;
    padding-left: 5%;
    border: none;
}

.textBody{
    float: right;
    width: 75%;
    transition: width 1s;
}
.active1{
    width: 95%;
}
