.fileBox{
  text-align: center;
  vertical-align: middle;
  float: left;
  width: 15%;
  height: 20vh;
  line-height: 20vh;
  cursor: pointer;
  background-color: azure;
  overflow: hidden;
  margin-top: 3vh;
  margin-left: 4%;
  font-size: medium;
  display: flex;
  position: relative;
}
.active:before{
  margin-left: 37%;
  font-size: -webkit-xxx-large;
  content: '+';
  color: rgb(217, 131, 114);
}
.textLocation{
  display: block;
  margin: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fileCheck{   
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 20vh;
  left: 0;
}
.btn{
  border: none;
  background-color: rgb(217, 131, 114);
  color: #fff;
  border-radius: 5px;
  padding: 1vh;
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 2vh;
}
